{
    "tabWidth": 2,
    "useTabs": false,
    "jsxSingleQuote": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "semi": true,
    "singleQuote": false,
    "bracketSameLine": true,
    "htmlWhitespaceSensitivity": "ignore",
    "proseWrap": "always",
    "printWidth": 64
  }